.navigation {
  top: 0;
  margin: 0;
  padding: 0;
  position: static;
}

.bar {
  width: 100px;
  height: 100px;
  padding: 50px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border: teal 3px dotted;
  background-color: lightblue;
}

ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  overflow: hidden;
  background-color: bisque;
  border: black 2px solid;
}

li {
  float: left;
}

li a {
  display: block;
  color: cadetblue;
  text-decoration: none;
  padding: 2px 5px;
  text-align: center;
  font-size: 17px;
}
