.title {
  font-family: serif;
  font-size: 24px;
  text-align: center;
  border: 20px dotted salmon;
  border-radius: 23in;
}

* {
  font-size: 15px;
  font-family: Georgia;
  color: aqua;
}

body {
  background-image: url(./asd.jpg);
  background-size: cover;
}

#places {
  font-size: 45px;
  background-color: cornflowerblue;
  color: cornsilk;
  border: 3px dashed blanchedalmond;
  border-radius: 5in;
  text-align: justify;
}

.places {
  font-size: 50px;
  background-color: burlywood;
  color: brown;
  border: 7px solid plum;
  border-radius: 0%;
}

.salmon {
  border: 6px double peachpuff;
  text-decoration: overline;
}
